<div *ngIf="(match | async) as match">
    <h1>
        {{match.name}}
    </h1>
    <mat-card class="cardStyle">
        <mat-card-header>
            <mat-card-title>Begin at {{match.begin_at | date:'short'}}</mat-card-title>
            <mat-card-subtitle>
                <img *ngIf="match.league.image_url != null" src="{{match.league.image_url}}" width="32" height="32">
                {{match.league.name}} 
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div *ngIf="match.streams_list">
                Streams list : 
                <p *ngFor="let stream of match.streams_list ">
                    Language : {{stream.language}} -> <a href="{{stream.raw_url}}">Link of the stream</a>
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>
