<div class="form-container mat-elevation-z5">
    <h1>Register</h1>

    <form [formGroup]="registerForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="name" />
            <mat-error *ngIf="name?.errors?.['required']">
                Name is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email address" formControlName="email" />
            <mat-error *ngIf="email?.errors?.['required']">
                Email is required
            </mat-error>
            <mat-error *ngIf="email?.errors?.['email']">
                Enter a correct email format
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input  matInput type="password" placeholder="Password" formControlName="password" />
            <mat-error *ngIf="password?.errors?.['required']">
                Password is required
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input  matInput type="password" placeholder="Confirm password" formControlName="confirmPassword" />
            <mat-error *ngIf="confirmPassword?.errors?.['required']">
                Confirm password is required
            </mat-error>
        </mat-form-field>
        <mat-error *ngIf="registerForm.errors?.['passwordsDontSame']">
            Passwords are not the same
        </mat-error>
        <div class="center margin-top">
            <button mat-raised-button color="primary" type="submit">
                Register
            </button>
        </div>
        <span class="center margin-top">
            <b>I have an account : </b><a routerLink="/login">Login</a>
        </span>
    </form>
</div>