<app-toolbar></app-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>


<!-- <br>
<form #newUser="ngForm" (ngSubmit)="addUser(newUser)">
  <label>Pseudo</label>
  <input type="text" name="pseudo" id="pseudo" ngModel>
  <label>Email</label>
  <input type="email" name="email" id="email" ngModel>
  <label>Password</label>
  <input type="password" name="password" id="password" ngModel>
  <button type="submit"> Save </button>
</form>
<br>

<ul>
  <li *ngFor="let user of usersData | async">
    {{ user.pseudo }} - {{ user.email }}
    <button (click)="updateUser(user.id)">Edit</button>
    <button (click)="deleteUser(user.id)">Delete</button>
  </li>
</ul> -->